body {
    margin: 0;
    background-color: aliceblue;
    text-align: center;
    font-family: monospace;
}

#snake-game {
    display: inline-block;
    vertical-align: top;
}

#statistics {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 4rem;
    text-align: left;
    margin: 2rem 0 1rem 0;
}
