body {
    margin: 0;
    background-color: aliceblue;
    text-align: center;
    overflow: hidden;
    font-family: monospace;
}

#snake-game {
    /*outline: 1px solid black;*/
    display: inline-block;
    vertical-align: top;
}

#statistics {
    /*outline: 1px solid red;*/
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 3rem;
    text-align: left;
    margin: 2rem 0 1rem 0;
}
